
# Ignore node_modules and other dependencies
node_modules
npm-debug.log
yarn-error.log

# Ignore build directories
.next
out

# Ignore local environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Ignore logs
logs
*.log

# Ignore Docker files
Dockerfile
.dockerignore
docker-compose.yml

# Ignore miscellaneous files
.DS_Store
*.swp